*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.wrapperBox{
    background:#fff;
    width:320px;
    padding:20px;
    border:1px solid #ccc;
    border-radius: 6px;
}

h2{
    text-align:center;
    margin-bottom:15px;
}

.inputBlock{
    margin-bottom:12px;
}

label{
    display:block;
    margin-bottom:4px;
    font-size:14px;
}

input,select{
    width:100%;
    padding:6px;
    border:1px solid #aaa;
    border-radius: 4px;
}

button{
    width:100%;
    padding:8px;
    background:#2563eb;
    color:#fff;
    border:none;
}