*{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 18px;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
    padding-top: 20px;
}   

a{
    text-decoration: none;
    margin-right: 200px;
}

#logo{
    color: #f08804;
    font-size: 30px;
}

#search{
    background-color: #f08804;
}