*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align:center;
    text-transform: capitalize;
}

#outer{
    width: 200px;
    height: 200px;
    font-size: 25px;
    background-color: rgb(219, 133, 28);
}

#inner{
    width: 100px;
    height: 100px;
    font-size:10px;
    background-color: rgb(50, 192, 192);
}