div{
    height: 14vh;
    width: 15vw;
    background-image: url("nature.avif");
    background-size: cover;
    position:fixed;
    right:30px;
    bottom:100px;
    border-radius: 10%;
    color: white;
}