*{
    padding: 0;
    margin: 0;
}

div{
    border: 4px solid rgb(86, 9, 134)
}
.header{
    background-color: #0f1111;
    height: 60px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    margin-right: 200px;
    color:white;
    font-size: 17px;
}

#logo{
    font-size: 30px;
    color: #f08804;
}

#search{
    background-color: #f08804;
}

.content{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 5px;
}
.footer{
    padding:10px;
    height: 30px;
    background-color: #0f1111;
    color:white;
}