#container{
    text-align: center;
    color:whitesmoke;
    width: 400px;
    height: 400px;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
div{
    width:50px;
    height: 50px;
    border: 2px solid black;
}
#box1{
    background-color: rgb(174, 120, 49);
}
#box2{
    background-color:rgb(31, 232, 165)
}
#box3{
    background-color: rgb(46, 208, 57);
}
#box4{
    background-color: rgb(16, 139, 227);
}