*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align:center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size:10px;
}