div{
    height: 150px;
    width: 150px;
    background-image: url("Screenshot\ 2024-05-22\ 185604.png");
    background-size: cover;
    color:whitesmoke;
    position: fixed;
    right: 0px;
    top:0px;
}