#navbar{
    background-color: rgb(239, 217, 187);
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}
li{
    display: inline;
}
#outer{
    background-color: rgb(234, 169, 71);
    width:250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    background-color: rgb(188, 176, 157);
    width:80px;
    height: 70px;
    text-align: center;
    text-decoration: underline;
    align-content: center;
}