*{
    margin : 0px;
    padding : 0px;
    text-decoration: none;
    color:white;
}
#navbar{
    border: 3px solid white;
    background-color: black;
    height: 60px;
}
#amazon{
    color: orange;
    font-size: 25px;
}
#searchb{
    background-color: orange;
}
a{
    margin-right: 200px;
}
div{
    border: 5px solid palevioletred;
    margin-top: 5px;
}
#header{
    height: 100px;
    background-color: rgba(100,100,100,0.5);
}
#content{
    height: 500px;
    color:black;
    background-color: rgba(10,50,70,0.5);
}
#footer{
    background-color: rgba(200,150,200,0.5);
    height: 100px;
    color:black;
}